<div class = "quiz">
    <ul>
        {{#result}}
        <li class="question-block">
            <h5>{{question}}</h5>
            <ul>
                <li>{{answer1}}</li>
                <li>{{answer2}}</li>
                <li>{{answer3}}</li>
                <li>{{answer4}}</li>
            </ul>
        </li>
        {{/result}}
    </ul>
</div>